body {
    background-color:darkcyan;
    font-size: 20pt;
    color:rgb(17, 10, 65);
    width:fit-content;
    height:max-content;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

header {
    background-color: darksalmon;
    font-style:oblique;
    height:175px;
    margin:0px;
    padding:0px;
}

p {
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 100px;
    margin-right: 80px;
}

h1 {
    font-family: cursive;
    font-size: 40pt;
    font-weight: 1200;
    text-align: center;
    border-block: 10px dashed navajowhite;
}

h3 {
    font-family: cursive;
    font-size: 25pt;
    text-align: center;
    color:forestgreen;
}

h2 {
    font-family: cursive;
    font-size: 35pt;
    font-weight: 500;
    color:navajowhite;
    margin-left:0px;
    background-color: rgb(17, 10, 65);
}

img {
    margin: 10px 100px 0px 60px;
    height: auto;
    width: 30%;
    border: 5px solid rgb(17, 10, 65);
    box-align: middle;
    
}

#scarpic {
    height: auto;
    width: 20%;
}

.piccap {
    color:darksalmon;
    margin-left: 60px;
    font-style: italic;
}

footer {
    color:forestgreen;
    font-size: 10pt;
    background-color: rgb(17, 10, 65);
    text-align: center;
}